#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
#log-error = /var/log/isucon/mysqld-error.log
slow_query_log_file = /var/log/isucon/mysqld-slow.log

slow_query_log = ON
long_query_time = 0.0
slow_launch_time = 0
log_output = FILE

#sql_mode = NO_ENGINE_SUBSTITUTION
#symbolic-links = 0
#sync_binlog = 0
#log_bin = OFF


innodb_flush_log_at_trx_commit = 0
innodb_doublewrite = 0
innodb_thread_concurrency = 0
#innodb_buffer_pool_size = 2048M
innodb_io_capacity = 2000
innodb_read_io_threads = 4
innodb_write_io_threads = 8
max_connections = 2000
skip-external-locking
innodb_flush_log_at_trx_commit = 0
innodb_file_per_table

bind-address = 0.0.0.0
